version: "3.8"

services:
  mariadb:
    image: mariadb
    build:
      context: requirements/mariadb/.
    container_name: mariadb
    restart: always
    networks:
      - inception
    env_file:
      - .env
    volumes:
      - v_db:/var/lib/mysql
    secrets:
      - db_root_password
      - db_password

  wordpress:
    image: wordpress
    build:
      context: requirements/wordpress/.
    container_name: wordpress
    restart: always
    depends_on:
      - mariadb
    networks:
      - inception
    env_file:
      - .env
    volumes:
      - v_web:/var/www/html
    secrets:
      - credentials
      - db_root_password
      - db_password

  nginx:
    image: nginx
    build:
      context: requirements/nginx/.
      args:
        - CRED_PATH
        - CRED_CERT
        - CRED_KEY
        - COUNTRY
        - STATE
        - LOCAL
        - ORGANIZATION
        - DOMAIN_NAME
    container_name: nginx
    restart: always
    depends_on:
      - wordpress
    networks:
      - inception
    ports:
      - "443:443"
    env_file:
      - .env
    volumes:
      - v_web:/var/www/html:ro

networks:
  inception:
    driver: bridge

volumes:
  v_web:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${WP_PATH}

  v_db:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DB_PATH}

secrets:
  db_root_password:
    file: ../secrets/db_root_password
  db_password:
    file: ../secrets/db_password
  credentials:
    file: ../secrets/credentials